[CP] Bakery Next Door/Assets/Characters/Theodore/theodore_spring.ase
[CP] Bakery Next Door/Assets/Characters/Ele/ele_summer.ase
[CP] Bakery Next Door/Assets/Maps/Mines/mine_desert.png
[CP] Bakery Next Door/Assets/Maps/cave_daisyextras.png
[CP] Bakery Next Door/Assets/Maps/hime_bathroom.png
[CP] Bakery Next Door/Assets/Maps/hime_fairygarden.png
[CP] Bakery Next Door/Assets/Maps/hime_farmersmarket.png
[CP] Bakery Next Door/Assets/Maps/hime_fountains.png
[CP] Bakery Next Door/Assets/Maps/hime_romanticfountains.png
[CP] Bakery Next Door/Assets/Maps/hime_romanticfurniture.png
[CP] Bakery Next Door/Assets/Maps/spring_mod_lumisteria_tilesheetsoutdoor_buildings.png
[CP] Bakery Next Door/Assets/Maps/Underground.tmx
[CP] Bakery Next Door/Assets/Maps/hime_outdoorfurniture.png
